*.passwd
lock
src/extra/post_slack.sh
src/install/containers/docker-openvpn/openvpn/easy-rsa/keys/*
src/install/containers/docker-openvpn-udp/openvpn/easy-rsa/keys/*
src/install/containers/docker-openvpn/openvpn/clients/*
src/install/containers/docker-openvpn-udp/openvpn/clients/*
src/install/containers/docker-haproxy/haproxy/conf/cpodedge.pem
ovftool.tgz
ovftool/*
options
govc_env
licenses.key
token.php
backup/*
*.pem
*.key
*.csr
*.cer
*.crt
src/install/nginx-reverseproxy/ssl/shwrfr.com/shwrfr.com.conf
public-ip
src/extra/leases/*
ipsec.secrets*
src/install/containers/docker-strongswan/config/ipsec.d/*
src/install/containers/docker-strongswan/config/ipsec.secrets
cloudbuilder.json
*.ova
*.openvpn
.DS_Store
*.ovpn
CPODFACTORY-ENVIRONMENTS-BACKUP/*
vcf*.sh
vsphere*.sh
.vscode
.idea/