*.passwd
lock
extra/post_slack.sh
install/containers/docker-openvpn/openvpn/easy-rsa/keys/*
install/containers/docker-openvpn-udp/openvpn/easy-rsa/keys/*
install/containers/docker-openvpn/openvpn/clients/*
install/containers/docker-openvpn-udp/openvpn/clients/*
install/containers/docker-haproxy/haproxy/conf/cpodedge.pem
ovftool.tgz
ovftool/*
options
govc_env
licenses.key
token.php
backup/*
*.pem
*.key
*.csr
*.cer
*.crt
install/nginx-reverseproxy/ssl/shwrfr.com/shwrfr.com.conf
public-ip
extra/leases/*
ipsec.secrets*
install/containers/docker-strongswan/config/ipsec.d/*
install/containers/docker-strongswan/config/ipsec.secrets
cloudbuilder.json
*.ova
*.openvpn
.DS_Store
*.ovpn
CPODFACTORY-ENVIRONMENTS-BACKUP/*
vcf*.sh
vsphere*.sh