#License file example
#vCenter 7 
V7_VCENTER_KEY=XXXXX-XXXXX-XXXXX-XXXXX-XXXXX

#vSphere 7 ent plus 
V7_ESX_KEY=XXXXX-XXXXX-XXXXX-XXXXX-XXXXX

#vSan 7 ent  
V7_VSAN_KEY=XXXXX-XXXXX-XXXXX-XXXXX-XXXXX

#Tanzu 7
V7_TANZU_KEY=XXXXX-XXXXX-XXXXX-XXXXX-XXXXX

#vCenter 8 std 
V8_VCENTER_KEY=XXXXX-XXXXX-XXXXX-XXXXX-XXXXX

#vSphere 8 ent plus 
V8_ESX_KEY=XXXXX-XXXXX-XXXXX-XXXXX-XXXXX

#vSan 8 ent 
V8_VSAN_KEY=XXXXX-XXXXX-XXXXX-XXXXX-XXXXX

#Tanzu 8 
V8_TANZU_KEY=XXXXX-XXXXX-XXXXX-XXXXX-XXXXX

#NSX-T
LIC_NSXT=XXXXX-XXXXX-XXXXX-XXXXX-XXXXX