#License file example
#vCenter 7 std 16 CPUs exp 04/2021
V7_VCENTER_KEY=XXXXX-XXXXX-XXXXX-XXXXX-XXXXX

#vSphere 7 ent plus 64 cpus exp 04/2021
V7_ESX_KEY=XXXXX-XXXXX-XXXXX-XXXXX-XXXXX

#vSan 7 ent 32 cpus exp 01/2020
V7_VSAN_KEY=XXXXX-XXXXX-XXXXX-XXXXX-XXXXX

#vCenter 8 std 16 CPUs exp 04/2021
V8_VCENTER_KEY=XXXXX-XXXXX-XXXXX-XXXXX-XXXXX

#vSphere 8 ent plus 64 cpus exp 04/2021
V8_ESX_KEY=XXXXX-XXXXX-XXXXX-XXXXX-XXXXX

#vSan 8 ent 32 cpus exp 01/2020
V8_VSAN_KEY=XXXXX-XXXXX-XXXXX-XXXXX-XXXXX